/* Register.css */
.register-container {
    text-align: center;
    margin-top: 20px;
}

.register-title {
    font-size: 24px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: #0056b3;
}

.google-register-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

.google-register-button:hover {
    background-color: #357ae8;
}